In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('movies_initial.csv')
df.head()

,imdbID,title,year,rating,runtime,genre,released,director,writer,cast,...,imdbRating,imdbVotes,poster,plot,fullplot,language,country,awards,lastupdated,type
0,1,Carmencita,1894,NOT RATED,1 min,"Documentary, Short",NaN,William K.L. Dickson,NaN,Carmencita,...,5.9,1032.0,https://m.media-amazon.com/images/M/MV5BMjAzND...,Performing on what looks like a small wooden s...,Performing on what looks like a small wooden s...,NaN,USA,NaN,2015-08-26 00:03:45.040000000,movie
1,5,Blacksmith Scene,1893,UNRATED,1 min,Short,1893-05-09,William K.L. Dickson,NaN,"Charles Kayser, John Ott",...,6.2,1189.0,NaN,Three men hammer on an anvil and pass a bottle...,A stationary camera looks at a large anvil wit...,NaN,USA,1 win.,2015-08-26 00:03:50.133000000,movie
2,3,Pauvre Pierrot,1892,NaN,4 min,"Animation, Comedy, Short",1892-10-28,�mile Reynaud,NaN,NaN,...,6.7,566.0,NaN,"One night, Arlequin come to see his lover Colo...","One night, Arlequin come to see his lover Colo...",NaN,France,NaN,2015-08-12 00:06:02.720000000,movie
3,8,Edison Kinetoscopic Record of a Sneeze,1894,NaN,1 min,"Documentary, Short",1894-01-09,William K.L. Dickson,NaN,Fred Ott,...,5.9,988.0,NaN,A man (Thomas Edison's assistant) takes a pinc...,A man (Edison's assistant) takes a pinch of sn...,NaN,USA,NaN,2015-08-10 00:21:07.127000000,movie
4,10,Employees Leaving the Lumi�re Factory,1895,NaN,1 min,"Documentary, Short",1895-03-22,Louis Lumi�re,NaN,NaN,...,6.9,3469.0,NaN,A man opens the big gates to the Lumi�re facto...,A man opens the big gates to the Lumi�re facto...,NaN,France,NaN,2015-08-26 00:03:56.603000000,movie

In [45]:
df.isnull().sum()

imdbID             0
title              0
year               0
rating         21385
runtime         2637
genre            399
released        3012
director         605
writer          3072
cast            1086
metacritic     36613
imdbRating      1714
imdbVotes       1715
poster         10216
plot            3853
fullplot        4593
language        1115
country          184
awards         22472
lastupdated        0
type              38
dtype: int64

## Handling the null values

In [46]:
# Dropping the column which have more than 10% null values

def drop_column(dataset):
    array = []
    for i in dataset.columns:
        if dataset[i].isnull().sum() >= 0.10 * dataset.shape[0]:
            array.append(i)
    return array

array = drop_column(df)       


df.drop(array,inplace=True,axis=1)

In [47]:
df.drop(["imdbVotes","released","runtime","writer","lastupdated","plot"],axis=1,inplace=True)
# We are dropping the 'released' column since 'year' and 'released' are almost same
# Instead of 'plot' we are keeping 'fullplot' column

In [48]:
# Since full plot will be the most important column we will drop rows where 'fullplot' value is null
df.dropna(subset=['fullplot','language','country'],axis=0,inplace=True)

In [49]:
df['genre'].fillna(' ',inplace=True)

In [50]:
df['imdbRating'].fillna(df['imdbRating'].mean(),inplace=True)
df['cast'].fillna(' ',inplace=True)
df['director'].fillna(' ',inplace=True)
df['type'].fillna('movies',inplace=True) # since more than 99% were movies

In [51]:
df.isnull().sum()

imdbID        0
title         0
year          0
genre         0
director      0
cast          0
imdbRating    0
fullplot      0
language      0
country       0
type          0
dtype: int64

In [52]:
df.reset_index(drop=True,inplace=True)

In [53]:
df.drop_duplicates(subset=['imdbID'],inplace=True)

In [54]:
## To reduce the size of dataset we will only work on movies that are after year 1990
df['year'] = pd.to_numeric(df['year'], errors='coerce')
df.dropna(subset=['year'], inplace=True)
df = df[df['year'] >= 1990]

In [55]:
df.shape

(25347, 11)

In [56]:
df.to_pickle("clean_dataset.pkl")