In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movies_initial.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46014 entries, 0 to 46013
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   imdbID       46014 non-null  int64
 1   title        46014 non-null  object
 2   year         46014 non-null  object
 3   rating       24629 non-null  object
 4   runtime      43377 non-null  object
 5   genre        45615 non-null  object
 6   released     43002 non-null  object
 7   director     45409 non-null  object
 8   writer       42942 non-null  object
 9   cast         44928 non-null  object
 10  metacritic   9401 non-null   float64
 11  imdbRating   44300 non-null  float64
 12  imdbVotes    44299 non-null  float64
 13  poster       35798 non-null  object
 14  plot         42161 non-null  object
 15  fullplot     41421 non-null  object
 16  language     44899 non-null  object
 17  country      45830 non-null  object
 18  awards       23542 non-null  object
 19  lastupdated  46014 non-null  object
 20  type         45976 non-null  object
dtypes: float64(3), int64(1), object(17)
memory usage: 7.4+ MB

In [3]:
df.drop(["awards","poster","imdbVotes","released","metacritic","rating","runtime","writer","imdbRating","lastupdated","fullplot"],axis=1,inplace=True)

In [4]:
df.isnull().sum()

imdbID         0
title          0
year           0
genre        399
director     605
cast        1086
plot        3853
language    1115
country      184
type          38
dtype: int64

In [5]:
df.dropna(inplace=True)
df.isnull().sum()

imdbID      0
title       0
year        0
genre       0
director    0
cast        0
plot        0
language    0
country     0
type        0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40083 entries, 24 to 46008
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   imdbID    40083 non-null  int64
 1   title     40083 non-null  object
 2   year      40083 non-null  object
 3   genre     40083 non-null  object
 4   director  40083 non-null  object
 5   cast      40083 non-null  object
 6   plot      40083 non-null  object
 7   language  40083 non-null  object
 8   country   40083 non-null  object
 9   type      40083 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.4+ MB

In [7]:
df.head()

,imdbID,title,year,genre,director,cast,plot,language,country,type
24,399,Jack and the Beanstalk,1902,"Short, Fantasy","George S. Fleming, Edwin S. Porter",Thomas White,Porter's sequential continuity editing links s...,English,USA,movie
27,447,Life of an American Fireman,1903,"Short, Action","George S. Fleming, Edwin S. Porter","Vivian Vaughan, Arthur White, James H. White",Porter's sequential continuity editing links s...,English,USA,movie
28,439,The Great Train Robbery,1903,"Short, Western",Edwin S. Porter,"A.C. Abadie, Gilbert M. 'Broncho Billy' Anders...",A group of bandits stage a brazen train hold-u...,English,USA,movie
29,455,The Music Lover,1903,"Short, Comedy, Music",Georges M�li�s,Georges M�li�s,The leader of a marching band demonstrates an ...,French,France,movie
34,499,The Voyage Across the Impossible,1904,"Short, Adventure, Fantasy",Georges M�li�s,Georges M�li�s,"Using every known means of transportation, sev...",French,France,movie

In [8]:
df = df[df['year']>'1990']

In [9]:
df.to_pickle("./pickled_file/clean_dataset.pkl")