In [3]:
import pandas as pd

In [4]:
df = pd.read_pickle("./pickled_file/database.pkl")

In [5]:
df.head(2)

,imdbID,title,movie_tags,review_tags,all_tags
0,0035423,Kate & Leopold,2000 comedy fantasy romance jamesmangold megry...,kate actor brother live ny 21st centuri exboyf...,kate actor brother live ny 21st centuri exboyf...
1,0081145,Me and the Kid,1990 comedy crime drama dancurtis dannyaiello ...,lone emot neglect rich kid form attach one men...,lone emot neglect rich kid form attach one men...

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer( max_features=25000,ngram_range=(1,4))
feature_array = tfidf_vectorizer.fit_transform(df["all_tags"]).toarray()

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
similartiy = cosine_similarity(feature_array.astype(np.float32))
similartiy = similartiy.astype(np.float16)

In [9]:
def recommend_movie(movie):
    movie_index = df[df['title']==movie].index[0]
    distance = similartiy[movie_index]
    movie_list = sorted(enumerate(distance),key=lambda x: x[1],reverse=True)[1:6]
    for i in movie_list:
        print(df.iloc[i[0],1],df.iloc[i[0],0])

In [11]:
recommend_movie("Batman Begins")

The Dark Knight 0468569
Batman Returns 0103776
The Dark Knight Rises 1345836
Batman Unlimited: Monster Mayhem 4729754
The Prestige 0482571